<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                </ul>

            </div>


        </div>
        @RenderBody()
    </div>
</body>
</html>
